{% load styles %}
{% load getattribute %}
{% load addstr %}

<div class="table-responsive">
  <table class="table table-hover table-sm mb-0" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-8">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-2">Publishing Time</th>
      </tr>
    </thead>
    <tbody>
      {% for revision in revisions %}
        {% with url_name='views.kcidb.revisions' id=revision.iid %}
          <tr class="d-flex">
            {% include 'tables/cell_clickable.html' with size='8' text=revision.id title=revision.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=revision.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=revision.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='2' text=revision.publishing_time %}
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  {% if revisions.trimmed_elements %}
  <div>
    <small>+ {{ revisions.trimmed_elements }} records</small>
  </div>
  {% endif %}
</div>
