{% extends "base.html" %}
{% load serialize %}
{% load styles %}
{% load getattribute %}

{% block title %}
Issue Regex
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'issue_list' 'unresolved' %}">Issues</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.issue.get' issue_regex.issue.id %}">Issue</a></li>
    <li class="breadcrumb-item active" aria-current="page">Issue Regex</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% if perms.datawarehouse.add_issueregex %}
{% include 'modal_new_issue_regex.html' %}
{% endif %}

<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    {% if perms.datawarehouse.add_issueregex or perms.datawarehouse.change_issueregex or perms.datawarehouse.delete_issueregex %}
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if perms.datawarehouse.add_issueregex %}
        <a class="dropdown-item" href="#" onclick="openIssueRegexModal('new', {{ issue_regex|serialize:'IssueRegexSerializer' }})">New Issue Regex</a>
        {% endif %}
        {% if perms.datawarehouse.change_issueregex or perms.datawarehouse.delete_issueregex %}
        <a class="dropdown-item" href="#" onclick="openIssueRegexModal('edit', {{ issue_regex|serialize:'IssueRegexSerializer' }})">Edit Issue Regex</a>
        {% endif %}
      </div>

    </span>
    {% endif %}
  </div>
</div>

<div class="card mb-2">
  <div class="card-header border-left-danger">
    <div class="font-weight-bold">
      <span class="badge badge-danger" title="{{ issue_regex.issue.kind.description }}">{{ issue_regex.issue.kind.tag }}</span>
      <a href="{% url 'views.issue.get' issue_regex.issue.id %}">{{issue_regex.issue.description}}</a>
      {% if issue_regex.issue.kind.kernel_code_related %}
      <span class="badge badge-secondary" title="Origin tree: {{ issue_regex.issue.origin_tree.name|default:'unknown' }}">{{ issue_regex.issue.origin_tree.name|default:'unknown' }}</span>
      {% endif %}
    </div>
  </div>
</div>

<div class="card border-bottom-primary shadow h-100 mb-1">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="row">
          <div class="col-xl-12">
            <label>Text Match: </label> {{ issue_regex.text_match|default:'' }}
          </div>
          <div class="col-xl-12">
            <label>File Name Match: </label> {{ issue_regex.file_name_match|default:'' }}
          </div>
          <div class="col-xl-12">
            <label>Test Name Match: </label> {{ issue_regex.test_name_match|default:'' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript">
  var url = window.location.href;
  if (url.indexOf('#issueregex') != -1) {
      $('#issueRegexModal').modal('show');
  }
</script>

<script>
   function openIssueRegexModal(action, regex) {
     var x = document.getElementById("delete_issue_regex");
     document.getElementById("issue_id_select").value = regex['issue']['id'];
     if (action === 'new') {
       x.style.display = "none";
       document.getElementById("issue_regex_id").value = "";
       document.getElementById("issue_regex_text_match").value = "";
       document.getElementById("issue_regex_test_name_match").value = "";
       document.getElementById("issue_regex_file_name_match").value = "";
       document.getElementById("action").value = "new";
     } else {
       document.getElementById("issue_regex_id").value = regex['id'];
       document.getElementById("issue_regex_text_match").value = regex['text_match'];
       document.getElementById("issue_regex_test_name_match").value = regex['test_name_match'];
       document.getElementById("issue_regex_file_name_match").value = regex['file_name_match'];
       document.getElementById("action").value = "edit";
       x.style.display = "block";
     }
     $('#issueRegexModal').modal('show');
   };
</script>
{% endblock %}
