{% extends "base.html" %}
{% load addstr %}

{% block title %}
Issues
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Issues</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    {% if perms.datawarehouse.add_issue %}
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle mr-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu">
        {% if perms.datawarehouse.add_issue %}
        <a href="{% url 'views.issue.new_or_edit' %}?new=true" class="dropdown-item">New Issue</a>
        {% endif %}
      </div>
    </span>
    {% endif %}
    {% include 'search.html' with name="search" action="/issue/list/"|addstr:group placeholder="Search for issues..." clearhref="/issue/list/"|addstr:group %}
  </div>
</div>

<ul class="nav nav-tabs mb-1">
    <li class="nav-item"><a class="nav-link {% if group == "unresolved" %}active{% endif %}" href="unresolved?search={{ search }}">Unresolved</a></li>
    <li class="nav-item"><a class="nav-link {% if group == "resolved" %}active{% endif %}" href="resolved?search={{ search }}">Resolved</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    {% for issue in issues %}
      {% include "card_issues_list.html" %}
    {% endfor %}
    {% include 'paginator.html' with paginator=issues %}
  </div>
</div>

{% endblock %}
