{% load trim_queryset %}
<div class="card border-bottom-danger shadow h-100 mb-2">
  <div class="card-body">
    <div class="text-xs font-weight-bold text-uppercase mb-1">
      Issue
    </div>

    <div class="h5 mb-1 font-weight-bold">
      <span class="badge badge-danger" title="{{ issue.kind.description }}">{{ issue.kind.tag }}</span>
      <a href="{% url 'views.issue.get' issue.id %}">{{issue.description}}</a>
      {% if issue.kind.kernel_code_related %}
      <span class="badge badge-secondary" title="Origin tree: {{ issue.origin_tree.name|default:'unknown' }}">{{ issue.origin_tree.name|default:'unknown' }}</span>
      {% endif %}
    </div>
    <br>

    {% with revisions=issue.revisions|trim_queryset %}
      {% if revisions %}
        <label>List of Revisions</label>
        {% include 'tables/table_kcidb_simple.html' %}
      {% endif %}
    {% endwith %}

  </div>
</div>
