{% extends "base_single_card.html" %}

{% block title %}
Change Password
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Change your password</h1>
</div>
<form method="post">
  {% csrf_token %}

  <div class="form-group">
    <input type="password" class="form-control form-control-user" name="old_password" autocomplete="off"
    required="" id="id_old_password" placeholder="Old Password">
    {% if form.old_password.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.old_password.errors }}
    </div>
    {% endif %}
  </div>

  <div class="form-group">
    <input type="password" class="form-control form-control-user" name="new_password1" autocomplete="new-password"
     required="" id="id_new_password1" placeholder="New Password">
    {% if form.new_password1.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.new_password1.errors }}
    </div>
    {% endif %}
  </div>

  <div class="form-group">
    <input type="password" class="form-control form-control-user" name="new_password2" autocomplete="new-password"
     required="" id="id_new_password2" placeholder="Repeat new passwrd">
    {% if form.new_password2.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.new_password2.errors }}
    </div>
    {% endif %}
  </div>

  <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
  <hr>
  {% if form.new_password1.help_text %}
  <small>
    <div class="help">{{ form.new_password1.help_text|safe }}</div>
  </small>
  {% endif %}
</form>
{% endblock %}
