{% extends "base_single_card.html" %}

{% block title %}
My Account
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">My Account</h1>
</div>

<form method="POST" action="{% url 'account.user.details' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ user.first_name }}"
     required {% if user.samluser %}disabled{% endif %}>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}"
         required {% if user.samluser %}disabled{% endif %}>
      </div>
      <div class="col-8">
        <label for="email_address">Email Address</label>
        <input type="email" class="form-control" id="email_address" value="{{ user.email }}" disabled>
      </div>
    </div>
  </div>

  {% if error %}
  <div class="alert alert-danger" role="alert">
      {{ error }}
  </div>
  {% endif %}

  {% if not user.samluser %}
  <div class="col" align="right">
    <input type="submit" class="btn btn-success" value="Save">
  </div>
  {% else %}
  <div class="alert alert-info" role="alert">
    This account is managed by the SAML2 integration.
  </div>
  {% endif %}
</form>

<hr>

<form>
  {% if not user.samluser %}
  <input type="submit" class="btn btn-block btn-secondary" value="Change Password" formaction="{% url 'password_change' %}">
  {% endif %}
  <input type="submit" class="btn btn-block btn-danger" value="Delete Account" formaction="{% url 'account.user.delete' %}">
</form>

{% endblock %}
