{% extends "base.html" %}

{% block title %}
Failed Revisions
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.revisions' %}">Revisions</a></li>
    <li class="breadcrumb-item active" aria-current="page">Failures</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle mr-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
            Filter
        </a>
      </div>
    </span>
  </div>
</div>

{% include 'card_revisions_filter.html' %}

<ul class="nav nav-tabs mb-1">
  <li class="nav-item"><a class="nav-link {% if stage_filter == "all" %}active{% endif %}" href="all">All</a></li>
  {% for stage in stages %}
    <li class="nav-item"><a class="nav-link {% if stage_filter == stage %}active{% endif %}" href="{{ stage }}">{{ stage|title }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <div class="card shadow mb-4">
      <div class="card-body">
        {% include 'tables/table_kcidb_revisions.html' %}
      </div>
    </div>
    {% include 'paginator.html' %}
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
